/* you can add to or change this. */

#game div {
  border: 1px solid black;
  width: 20vw;
  height: 20vw;
  margin: 26px;
  display: inline-block;
  background-color: whitesmoke;
  max-width: 300px;
  max-height: 300px;
}

h1 {
  margin: auto;
  text-align: center;
  font-size: 50px;
}

#butt {
  padding: 10px;
  display: flex;
  justify-content: center;
}

button {
  text-align: center;
  font-size: 35px;
  margin: 10px;
}

#clock, #score, span {
  font-size: 40px;
  align-self: center;
  margin: 15px;
}

span {
  margin-left: -8px;
  margin-right: 3px;
}




#flip {
  animation: flip 1s linear;
}

#unflipped {
  animation: unflip 1s linear;
}


@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(180deg);

  }
}

@keyframes unflip {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(180deg);

  }
}